span{
    display: inline-block;

}

.task-item{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-block: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.task-item:last-child{
    border: none;
}

.task-item:hover{
    background: var(--color-primary-light);
}

.task-name{
    font-weight: 700;
    margin-block: auto;
    flex: 3.9;
}

.task-delete{
    float: right;
    width: 24px;
    text-align: center;
    cursor: ponter;
    padding: 5px;
    border-radius: 5px;
    color: var(--color-white);
    background: var(--color-primary);
    cursor: pointer;
    transition: all 0.2s ease-in;
    align-self: right;
    flex: 0.1;
    margin-left: 5px;
}

.task-delete:hover{
    background: red;
}

.line{
    width: 100%;
    border: 0.9px solid var(--color-primary-light);
}

.hidden{
    display: none;
}
